<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Opengento\CountryStore\Model\Resolver\ResolverFactory">
        <arguments>
            <argument name="countryResolvers" xsi:type="array">
                <item name="cloudFare" xsi:type="string">Opengento\CountryStoreRedirect\Model\Resolver\CloudFare</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Opengento\CountryStore\Model\Config\Source\CountryResolver">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="cloudFare" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">CloudFare IP Country</item>
                    <item name="value" xsi:type="const">Opengento\CountryStoreRedirect\Model\Resolver\CloudFare::RESOLVER_CODE</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
