<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="country">
            <group id="redirect" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                <label>Country Redirect</label>
                <field id="enabled" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>First Visit Redirect</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <config_path>country/redirect/enabled</config_path>
                </field>
                <field id="ignore_actions" type="textarea" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20" canRestore="1">
                    <label>Ignore Actions</label>
                    <comment>Comma-separated</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <config_path>country/redirect/ignore_actions</config_path>
                </field>
                <field id="ignore_user_agents" type="textarea" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30" canRestore="1">
                    <label>Ignore User Agents</label>
                    <comment>Comma-separated</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <config_path>country/redirect/ignore_user_agents</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
